html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid_1 {
  width: calc(8.33333% - 20px);
}

.grid_2 {
  width: calc(16.66667% - 20px);
}

.grid_3 {
  width: calc(25% - 20px);
}

.grid_4 {
  width: calc(33.33333% - 20px);
}

.grid_5 {
  width: calc(41.66667% - 20px);
}

.grid_6 {
  width: calc(50% - 20px);
}

.grid_7 {
  width: calc(58.33333% - 20px);
}

.grid_8 {
  width: calc(66.66667% - 20px);
}

.grid_9 {
  width: calc(75% - 20px);
}

.grid_10 {
  width: calc(83.33333% - 20px);
}

.grid_11 {
  width: calc(91.66667% - 20px);
}

.grid_12 {
  width: calc(100% - 20px);
}

[class^="grid_"] {
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 759px) {
  [class^="grid_"] {
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.offset_1 {
  margin-left: calc(8.33333% + 10px);
}

.offset_2 {
  margin-left: calc(16.66667% + 10px);
}

.offset_3 {
  margin-left: calc(25% + 10px);
}

.offset_4 {
  margin-left: calc(33.33333% + 10px);
}

.offset_5 {
  margin-left: calc(41.66667% + 10px);
}

.offset_6 {
  margin-left: calc(50% + 10px);
}

.offset_7 {
  margin-left: calc(58.33333% + 10px);
}

.offset_8 {
  margin-left: calc(66.66667% + 10px);
}

.offset_9 {
  margin-left: calc(75% + 10px);
}

.offset_10 {
  margin-left: calc(83.33333% + 10px);
}

.offset_11 {
  margin-left: calc(91.66667% + 10px);
}

.offset_12 {
  margin-left: calc(100% + 10px);
}

@media screen and (max-width: 759px) {
  .offset_1, .offset_2, .offset_3, .offset_4, .offset_5, .offset_6, .offset_7, .offset_8, .offset_9, .offset_10, .offset_11, .offset_12 {
    margin-left: 0px;
  }
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .container {
    max-width: 760px;
  }
}

@media screen and (max-width: 759px) {
  .container {
    max-width: 480px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.container::after, .container::before {
  content: "";
  display: table;
  clear: both;
}

.row {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
}

@media screen and (max-width: 759px) {
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

body {
  background: #edece4;
  border: 10px solid #cbc6b9;
  color: #2a2426;
}

@media screen and (max-width: 759px) {
  body {
    border: none;
  }
}

img {
  display: block;
  max-width: 100%;
}

p {
  font-family: "PT Mono", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
}

.titulo {
  font-family: "PT Mono", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  text-transform: uppercase;
}

@media screen and (max-width: 759px) {
  .titulo {
    margin-bottom: 40px;
  }
}

.titulo::after {
  content: "";
  display: block;
  width: 75%;
  float: right;
  height: 2px;
  background: #2a2426;
  margin-top: 14px;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .titulo::after {
    width: 60%;
  }
}

.intro {
  margin-top: 60px;
}

@media screen and (max-width: 759px) {
  .intro {
    margin-top: 20px;
  }
}

.logo {
  margin-bottom: 60px;
}

.intro_info {
  border-right: 2px solid #2a2426;
  max-width: 320px;
}

.intro_info p {
  padding-top: 10px;
}

.intro_info p:first-child {
  border-bottom: 2px solid #2a2426;
  padding-bottom: 10px;
}

.intro_telefone {
  color: #988c77;
}

@media screen and (max-width: 759px) {
  .intro_telefone {
    margin-bottom: 40px;
  }
}

.intro_telefone::after {
  content: "/ / / /";
  display: block;
  margin-top: 200px;
  font-size: 220px;
  letter-spacing: -90px;
  color: #2a2426;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .intro_telefone::after {
    margin-top: 80px;
    font-size: 160px;
    letter-spacing: -70px;
  }
}

@media screen and (max-width: 759px) {
  .intro_telefone::after {
    display: none;
  }
}

.aberto {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #1ab912;
  border-radius: 50%;
  margin-left: 30px;
}

.intro_foto {
  border: 10px solid #cbc6b9;
  width: 100%;
}

.menu {
  margin-top: 120px;
  margin-bottom: 120px;
}

@media screen and (max-width: 759px) {
  .menu {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.menu_item {
  margin-bottom: 60px;
}

.menu_item h2 {
  font-family: "Aref Ruqaa", serif;
  font-size: 1.5em;
  line-height: 1.25em;
  margin-bottom: 1em;
}

.menu_item li {
  font-family: "PT Mono", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  line-height: 1.94444em;
}

.menu_item li span {
  font-family: "Aref Ruqaa", serif;
  color: #988c77;
  display: inline-block;
  width: 70px;
  margin-right: 10px;
  text-align: right;
  margin-left: -80px;
}

@media screen and (max-width: 759px) {
  .menu_item li span {
    margin-left: 0px;
    width: auto;
  }
}

.menu_item img {
  border-radius: 50%;
  border: 10px solid #cbc6b9;
  position: absolute;
  right: 0px;
  margin-top: 50px;
}

@media screen and (min-width: 1200px) {
  .menu_item img {
    right: 120px;
  }
}

@media screen and (max-width: 759px) {
  .menu_item img {
    width: 120px;
    margin-bottom: 30px;
    position: relative;
  }
}

.contato {
  margin-top: 120px;
  margin-bottom: 120px;
}

@media screen and (max-width: 759px) {
  .contato {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.contato form label {
  font-family: "PT Mono", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  display: block;
}

.contato form input[type="text"],
.contato form textarea {
  font-family: "PT Mono", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  color: #2a2426;
  width: 100%;
  padding: 0 5px;
  height: 40px;
  border: 2px solid #988c77;
  background: transparent;
  margin-bottom: 1em;
}

.contato form input[type="text"]:hover, .contato form input[type="text"]:focus,
.contato form textarea:hover,
.contato form textarea:focus {
  outline: none;
  border-color: #cbc6b9;
}

.contato form textarea {
  height: 120px;
}

input.button {
  font-family: "PT Mono", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  cursor: pointer;
  color: #988c77;
  text-transform: uppercase;
  border: 2px solid #988c77;
  background: transparent;
  display: block;
  width: 200px;
  padding-top: 5px;
  -webit-box-shadow: 5px 5px 0 -2px #cbc6b9, 5px 5px 0 0 #988c77;
  -webkit-box-shadow: 5px 5px 0 -2px #cbc6b9, 5px 5px 0 0 #988c77;
          box-shadow: 5px 5px 0 -2px #cbc6b9, 5px 5px 0 0 #988c77;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input.button:hover {
  -webit-box-shadow: 3px 3px 0 -2px #cbc6b9, 3px 3px 0 0 #988c77;
  -webkit-box-shadow: 3px 3px 0 -2px #cbc6b9, 3px 3px 0 0 #988c77;
          box-shadow: 3px 3px 0 -2px #cbc6b9, 3px 3px 0 0 #988c77;
}

.contato_info {
  display: inline-block;
  color: #988c77;
  margin-top: 2em;
  margin-bottom: 3em;
}

@media screen and (min-width: 1200px) {
  .contato_info {
    float: right;
    text-align: right;
    margin-top: -3em;
  }
}

.contato_mapa {
  display: block;
  -webit-box-shadow: 0 0 0 10px #cbc6b9;
  -webkit-box-shadow: 0 0 0 10px #cbc6b9;
          box-shadow: 0 0 0 10px #cbc6b9;
  clear: both;
}

.contato_mapa img {
  width: 100%;
}
