body {
  background: $cor_primaria;
  border: 10px solid $cor_secundaria;
  color: $cor_quaternaria;
  @include device(small) {
    border: none;
  }
}

img {
  display: block;
  max-width: 100%;
}

p {
  @include tipografia_1(18);
}

.titulo {
  @include tipografia_1(18);
  text-transform: uppercase;
  @include device(small) {
    margin-bottom: 40px;
  }
  &::after {
    content: "";
    display: block;
    width: 75%;
    float: right;
    height: 2px;
    background: $cor_quaternaria;
    margin-top: 14px;
    @include device(medium) {
      width: 60%;
    }
  }
}
