// Cores
$cor_primaria: #edece4;
$cor_secundaria: #cbc6b9;
$cor_terciaria: #988c77;
$cor_quaternaria: #2a2426;
$cor_quinaria: #1ab912;

// Fontes
$fonte_1: "PT Mono", monospace;
$fonte_2: "Aref Ruqaa", serif;

$borda_principal: 10px solid $cor_secundaria;

@function em($pixel, $contexto: 16) {
  @return $pixel / $contexto + em;
}

@mixin tipografia_1($size) {
  font-family: $fonte_1;
  @if $size == 18 {
    font-size: em(18);
    line-height: em(30, 18);
  }
}

@mixin tipografia_2($size) {
  font-family: $fonte_2;
  @if $size == 18 {
    font-size: em(18);
    line-height: em(30, 18);
  } @else if $size == 24 {
    font-size: em(24);
    line-height: em(30, 24);
  }
}

@mixin titulo {
  margin-top: 120px;
  margin-bottom: 120px;
  @include device(small) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@mixin box-shadow($sombra...) {
  -webit-box-shadow: $sombra;
  -moz-box-shadow: $sombra;
  box-shadow: $sombra;
}
